:root {
    --oscuro: #0d0818;
    --primario: #62139b;
    --secundario: #f4105c;
    --blanco: #ffffff;
  }
  
  /* Globales */
  
  
  html {
    font-family: 'Krub', sans-serif; 
   /*  font-size: 72.5%; */
    box-sizing: border-box;
    /* Hack para Box Model*/
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    animation: aparecer 1.5s;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 16px;
    /* 1rem = 10px*/
    font-family: 'Krub', sans-serif; 
    background-image: linear-gradient(to top, #1b0236 0%, var(--oscuro) 100%);
   
  }
  
  /*header{
    display: flex;
   justify-content: space-around;
   flex-direction: row;
   align-items: center;
  }
  .logo {
   
    width: 20rem;
    height: 7rem;
    
  }
  */
  
  
  
  .boton {
    background-color: var(--primario);
    color: var(--blanco);
    padding: .5rem 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0.3rem;
    border: none;
    width: 90%;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: background-color .5s;
  
  }
  
  .boton:hover{
    background-color: var(--secundario);
    color: var(--blanco);
    box-shadow: 0px 0px 20px 1px rgba(236, 151, 246, 0.242); 
  }

  .boton span {
    position: relative;
    z-index: 2;
    transition: .5s ease-in-out all;
  }
  
  @media (min-width: 768px) {
    .boton {
        width: auto;
    }
  }
  
  /* Efecto botones*/
  
  
  /*Titulos*/
  
  .titulo {
    font-size: 2.5rem;
  }
  
  .titulo span {
    font-size: 1rem;
  
  
  
  }
  
  .contenedor {
    max-width: 60rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  
  .contenedor-nav {
    max-width: 100rem;
    margin: 0 auto;
  }
  
  .sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(80, 0, 126, 0.77);
    -moz-box-shadow: 0px 5px 15px 0px rgba(80, 0, 126, 0.77);
    box-shadow: 0px 5px 15px 0px rgba(80, 0, 126, 0.77);
    color: white;
    background-color: var(--oscuro);
    padding: 2rem;
    border-radius: 1rem;
  }
  
  /*Animaciones*/
  
  .mi-seccion {
    /* Estilos de la animación */
    transition: all 1.5s ease;
    transform: translateY(100px);
    opacity: 0;
  }
  
  .mi-seccion.active {
    /* Estilos de la animación cuando está activa */
    transform: translateY(0);
    opacity: 1;
  }
  
  .mi-seccion2 {
    /* Estilos de la animación */
    transition: all 2s ease;
    transform: translateX(-100px);
    
  }
  
  .mi-seccion2.active {
    /* Estilos de la animación cuando está activa */
    transform: translateX(0);
    
  }
  
  .mi-seccion3 {
    /* Estilos de la animación */
    transition: all 2s ease;
    transform: translateX(100px);
    
  }
  
  .mi-seccion3.active {
    /* Estilos de la animación cuando está activa */
    transform: translateX(0);
    
  }
  
  @keyframes aparecer {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }
  
  