:root {
    --oscuro: #131106;
    --primario: #4d6994;
    --secundario: #ff5882;
    --terciario: #ffc219;
    --blanco: #ffffff;
}
/* Globales */


html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model*/
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    animation: aparecer 1.5s;
}
*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-size: 16px; /* 1rem = 10px*/
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco) 100% );
}
/*header{
    display: flex;
   justify-content: space-around;
   flex-direction: row;
   align-items: center;
}
.logo {
   
    width: 20rem;
    height: 7rem;
    
}
*/



.boton {
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0.5rem;
    border: none;
    width: 90%;
    text-align: center;
    position: relative;
    overflow: hidden;
    
}
.boton span{
    position: relative;
    z-index: 2;
    transition: .5s ease-in-out all;
}
@media (min-width: 768px) {
    .boton{
        width: auto;
    }
} /* Efecto botones*/

.boton::after{
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transition: .5s ease-in-out all;
    border-radius: 100px;
    transform-origin: center;

}
.boton:hover::after {
    cursor: pointer;
    transform: scale(200);
    background: var(--secundario);
}

/* Tipografia*/ 
h1 {
    font-size: 3.8rem;
    text-align: center;
}

h2 {
    font-size: 2.8rem;
    
}

h3 {
    font-size: 1.8rem;
    
}


/*Titulos*/

.titulo{
    font-size: 4rem;
}
.titulo span {
    font-size: 2rem;
   
   
    
}

.contenedor {
    max-width: 100rem;
    margin: 0 auto;
}
/* Header */

@media (min-width: 768px) {
    header {
        height: 9rem;
        margin-bottom: 0.5rem;
        background-image: url(../img/arg-programa.png);
        background-repeat: no-repeat;
        background-size: 20rem;
        background-position-y: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;  
        
    }   
    
}
@media (min-width: 768px) {
    .logo{
        width: 20rem;
        
    }
    .red{
    margin-left: 10px;
    margin-right: 10px; 
    }
}
@media (max-width: 768px) {
    .red {
      display: none;
    }
  }


.nav-bg {
    background-color: var(--primario);
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
    
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-around;
    }
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(102,102,102,0.77);
    -moz-box-shadow: 0px 5px 15px 0px rgba(102,102,102,0.77);
    box-shadow: 0px 5px 15px 0px rgba(102,102,102,0.77);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    transition: background-color .5s;
  }
  
  .navegacion-principal a:hover {
    background-color: var(--secundario);
    
  }


.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-bottom: 2rem;
    position: relative;
}
.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contenido-hero h2, .contenido-hero p {
    color: var(--blanco);
    text-align: center;
}

.ubicacion {
    display: flex;
    
}

.habilidades, .navegacion-principal, .formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

/* Sobre mí*/

.sobremi{
    line-height: 1.5;
    text-align: center;
    margin: 5rem;
    margin-bottom: 5rem;
}

.foto{
    display: flex;
    justify-content: center;
    
}

.img{
    width: 18rem;
    border-radius: 50%;
    border: 5px;
    border-color: var(--blanco);
    border-style: solid;
    box-shadow: 0px 0px 0px 6px #4d6994;
    margin-bottom: 3rem;
    transition: width .5s;
}

.foto .img:hover{
    width: 20rem;
}

/*Educacion*/

#educacion{
    margin-top: 5rem;
}



@media (min-width: 768px) {
    .miEducacion section{
        display: grid;
        grid-template-columns: 1fr 2fr;
         margin-bottom: 5rem;
         margin-right: 10rem;
         column-gap: 5rem;
        
     }
     .eduLogo{
        grid-row: 1 / 9;
        margin-top: 2rem;
        margin-left: 15rem;
        
    }
    
}



.eduLogo{
   
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}



.miEducacion span{
    font-size: 1.8rem;
    color: var(--primario);
}

ul{
    padding-left: 1.5rem;
}



/* habilidades */

#habilidades{
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .habilidades {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        margin-bottom: 5rem;
    }
}

.habilidad {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidad h3 {
    color: var(--primario);
}



.habilidad .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--secundario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Contacto*/

#contacto{
    margin: 5rem;
}

.formulario {
    background-color: grey;
    width: min(60rem, 100%); /* utiliza el valor mas chico*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--blanco);
}
@media (min-width: 768px) {
    .contenedor-campo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 / 3;
    }
}




.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;

}

.campo textarea {
    width: 100%;
    height: 20rem;
    resize: none;
    
}

.imput-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;

}

.enviar .boton {
    margin-top: 2rem;
    width: 100%;
}

/* Footer*/
.footer {
    text-align: center;
    background-color: #4d6994;
    padding: 1rem;
    margin-top: 2rem;
    color: var(--blanco);
    border-radius: 1rem;
}

/*Animaciones*/

.mi-seccion {
    /* Estilos de la animación */
    transition: all 1s ease;
    transform: translateY(100px);
    opacity: 0;
  }
  
  .mi-seccion.active {
    /* Estilos de la animación cuando está activa */
    transform: translateY(0);
    opacity: 1;
  }

  @keyframes aparecer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  