/*Header-----------------------------------------------------*/

@media (min-width: 768px) {
    header {
        display: none;
    }

}

@media (min-width: 768px) {
    

    .red {
        margin-left: 1rem;
        margin-right: 1rem;
       
    }
    .responsivo{
        display: none;
    }
}



@media (max-width: 768px) {
    .redes{
       
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .red {
        margin-left: 10px;
        margin-right: 10px;
        
        
    }
    .barraRedes{
        display: none; 
    }
    
    }
.container-fluid{
    height: 3rem;
}
.navbar{
   
    backdrop-filter: blur(10px);
    background-color: rgba(13, 8, 24, 0.708) !important;
    
}
.offcanvas-title,
.offcanvas-header, 
.offcanvas-body{
    background-color: rgb(13, 8, 24);
    
}

.navbar-dark {
--bs-navbar-toggler-border-color: rgba(255, 255, 255, 0);
}

/*------------------------------------------------------------------*/
/*-----------------------GitHub Flotante----------------------------*/
/*------------------------------------------------------------------*/


/* .flotante{
    position: fixed;
    right: 0;
    top: 20%;
    
   
    z-index: 3;
    display: flex;
    flex-direction: column;
} */
/* @media (max-width: 768px) {
    .flotante{
        display: none;
    }
} */




/*Nav Bar-------------------------------------------------------*/



.nav-bg {
    
    background-color: #28013a74;
    padding: .5rem;
    backdrop-filter: blur(10px);
;
}
.logo a{
    font-size: 1.7rem;
   font-weight: 700;

}
.letra{
    color: var(--primario);
}

.navegacion-principal {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
    padding: .5rem 3.78rem;
   
    
}


.navegacion-principal a {
    
   
    color: var(--blanco);
    text-decoration: none;
    margin: 0 1rem;
    transition: color .5s;
}

.navegacion-principal a:hover {
    color: var(--secundario);

}
.contenedor-nav{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1rem;
}
@media (max-width: 768px) {
    .nav-bg {
        display: none;
    }
}

/*Portada------------------------------------------*/

#text{
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primario);
    z-index: 1;
   
}


.titulo{
    
    margin-bottom: 1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
@media (min-width: 768px) {
    .titulo{
        text-transform: uppercase;
       text-align: left;
    }
}

.hero {
    height: 100vh;
    margin-bottom: 2rem;
    position: relative;
}

.contenido-hero {
  
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: aparecer 1.5s ease;
    
    
}
@media (min-width: 768px) {
    .contenido-hero {
  
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 5rem;
       
       
    
    }
} 

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
    z-index: 1;
   

}


.ubicacion {
  
    display: flex;
    align-items: baseline;
    z-index: 1;
}

.blink {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    50% {
      visibility: hidden;
    }
  }

  /*------------------------------------------------------*/
  /* -----------Sobre Mí ---------------------------------*/
  /*------------------------------------------------------*/

  .hola{
    color: var(--primario);
    font-size: 3rem;
  }
  .sobremi {
    line-height: 1.5;
    text-align: center;
    margin: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

p{
    max-width: 45rem;
}





.img {
    width: 14rem;
    border-radius: 50%;
    border: 5px;
    border-color: var(--primario);
    border-style: solid;
   
    margin: 1rem 0 1.5rem;
    transition: transform 0.5s;
}

.foto .img:hover {
    transform: scale(1.1);
     box-shadow: 0px 0px 30px 6px #2f0136;
}

/*------------------------------------------------------*/
/*Mi Educación -------------------------------*/
/*------------------------------------------------------*/


#educacion {
    margin-top: 2rem;
    text-align: center;
}



@media (min-width: 768px) {
    .miEducacion section {
        display: grid;
        grid-template-columns: 1fr 2fr;

        margin-right: 5rem;
        column-gap: 5rem;

    }

    .edu {
        grid-row: 1 / 9;
        margin-top: 2rem;
        margin-left: 15rem;
    }

}

.miEducacion section {
    margin-bottom: 3rem;
}


.eduLogo {

    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 30px 6px #190244;

}

.edu {
    display: flex;
    justify-content: center;
}




.miEducacion span {
    font-size: 1.8rem;
    color: var(--primario);
}

ul {
    padding-left: 1.5rem;
}

/*------------------------------------------------------*/
/*Mis conocimientos ---------------------------*/
/*------------------------------------------------------*/

#habilidades {
    margin: 2rem;
    text-align: center;
}

@media (min-width: 768px) {
    .habilidades {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        margin-bottom: 3rem;
    }
}

.habilidad {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.habilidad h3 {
    color: var(--primario);
}



.habilidad .iconos {
    height: 10rem;
    width: 10rem;
    margin: 1rem;
    background-color: var(--secundario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px 6px #28013a;
}
/*------------------------------------------------------------------*/
/*---------------------------Skills---------------------------------*/
/*------------------------------------------------------------------*/



#skills{
    text-align: center;
}

.skills{
    display: flex;
    justify-content: center;
    
    
}

.skill{
    
  margin: 0 1rem;
    text-align: center;
}

@media (min-width: 768px) {
    .skill{
        margin: 2rem 5rem;
        text-align: center;
    }
}

.progress-circle-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
@media (min-width: 768px) {
    .progress-circle-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
}


.progress-circle {
    position: relative;
    display: inline-block;
    margin: 1rem;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #030303;
}

.progress-circle:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
   
}

.progress-circle.animation{
    -webkit-animation: colorload 2s;
    animation: colorload 2s;
}

.progress-circle span {
    font-size: 1rem;
    color: var(--primario);
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    text-align: center;
    border-radius: 50%;
    background: var(--oscuro);
    z-index: 1;
}

.progress-circle span {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-circle.progress-65:after { 
    background-image: linear-gradient(-36deg, #62139b 50%, transparent 50%, transparent), linear-gradient(270deg, #62139b 50%, #62139b2d 50%, #62139b2d); 
}
.progress-circle.progress-78:after { 
    background-image: linear-gradient(10.8deg, #62139b 50%, transparent 50%, transparent), linear-gradient(270deg, #62139b 50%, #62139b2d 50%, #62139b2d);
}
.progress-circle.progress-75:after {
    background-image: linear-gradient(0deg, #62139b 50%, transparent 50%, transparent), linear-gradient(270deg, #62139b 50%, #62139b2d 50%, #62139b2d);
}

.progress-circle.progress-70:after {
    background-image: linear-gradient(-18deg, #62139b 50%, transparent 50%, transparent), linear-gradient(270deg, #62139b 50%, #62139b2d 50%, #62139b2d);
}

.progress-circle.progress-35:after {
    background-image: linear-gradient(90deg, #62139b2d 50%, transparent 50%, transparent), linear-gradient(216deg, #62139b 50%, #62139b2d 50%, #62139b2d);
}

.progress-circle.progress-50:after {
    background-image: linear-gradient(-90deg, #62139b 50%, transparent 50%, transparent), linear-gradient(270deg, #62139b 50%, #62139b2d 50%, #62139b2d);
}

/*Animaciones de los circulos*/

@keyframes colorload {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

.skillsimg {
    width: 3rem;
}



/*------------------------------------------------------------------*/
/*--------------------------Proyectos-------------------------------*/
/*------------------------------------------------------------------*/
@media (min-width: 768px) {
    .proyecto{
       
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        margin: 0;
    }
    
}

.proyecto-container{
    width: auto;
    height: 15rem;
    margin-bottom: 1rem;
}

.card-container {
    width: auto;
    height: 15rem;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(63, 6, 162, 0.2);
    overflow: hidden;
    margin-bottom: 1rem;
  }
  
  .card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  
  .card .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card .front-content p {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg, #1167d0 0%, #62139b 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: linear-gradient(-45deg, #051448 0%, #62139b 100% );
    color: #e8e8e8;
    padding: 20px;
   
    border-radius: 5px;
    transform: translatex(96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card .content .heading {
    font-size: 32px;
    font-weight: 700;
  }
  
  .card:hover .content {
    transform: translateY(0);
  }
  
  .card:hover .front-content {
    transform: translateX(20%);
  }
  
  .card:hover .front-content p {
    opacity: 0;
  }
  
  

 .proyectos{
    text-align: center;
   
}
.front-content img{
    width: auto;
    height: 15rem;
}

/*.cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.subtitulo{
    color: var(--primario);
}

.carrusel{
    max-width: 50rem;
    margin: 2rem 0rem;
    
}
.carousel-inner{
    border-radius: .5rem;
}

@media (min-width: 768px) {
    .carrusel { 
        margin: 3rem 3rem;
    }
}

.proyectoBtn{
    display: flex;
    justify-content: space-around;
}
 */


/* ----------------------------Footer--------------------------------------*/
@media (min-width: 768px) {
    .footer {
        background-image: url(../img/APLogo.png);
        background-repeat: no-repeat;
        background-size: 10rem;
        background-position-y: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

    }
}
.argP{
    width: 10rem;
}

.footer {
    text-align: center;
    background-color: var(--oscuro);
    padding: 2rem;
    color: var(--blanco);
}

.red{
    margin-left: 1.5rem;
    filter: invert();
}

.totop {
   
   display: flex;
   justify-content: flex-end;
   background-color: var(--oscuro);
   
  }

  .resplandor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    filter: invert();
    padding: .5rem;
    border-radius: 50%;
    margin: 1.5rem;
    box-shadow: 0px 0px 10px 1px #21f8054f;

}

/*------------------------------------------------------------------*/
/*---------------------------Contacto-------------------------------*/
/*------------------------------------------------------------------*/

/* Botones con resplandor */

.redf{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3.5rem;
    padding: .5rem;
    border-radius: 1rem;
    margin: 1.5rem;
    box-shadow: 0px 0px 10px 1px #9705f863;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: background-color .3s;

}
/* Logotipos de redes color negros por defectos, se convierten a blancos */
.invert{
    filter: invert();
}

.redf:hover{
    background-color: var(--primario);
    color: var(--blanco);
}

 .hablemos {
   
    padding: 0rem 5rem;
 }
 @media (min-width: 768px) {
    .contacto{
        background-color: var(--oscuro);
        padding: 2rem;
        color: var(--blanco);
     }
 }
 #contacto{
    
    display: flex;
    justify-content: center;
    background-color: var(--oscuro);
    padding-top: 5rem;
    color: var(--blanco);
 }

 .contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
 }
.contacto-titulo{
    color: var(--primario);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 4rem;
}

 @media (min-width: 768px) {
    .contacto-contenedor {
        text-align: justify;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.3rem;
        max-width: 50rem;
     }
     .contacto-parrafo{
        max-width: 25rem;
     }
    .contacto {
       margin-left: 5rem;
     }
 }
 
 
 .contacto-contenedor {
    text-align: left;
    font-size: 1.3rem;
    max-width: 50rem;
 }

 /* .contacto-whatsapp-linkedin{
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 */
 .contacto span{
    color: var(--primario);
    font-weight: bold;
 }

 .saludo{
    text-align: center;
   font-size: 1.5rem;
    font-weight: bold;
    padding-top: 6rem;
    color: var(--primario);
    
 }

 